/** { border: 1px solid red; 
    box-sizing: border-box;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: yellow !important;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000 0%, #434343 100%);
    overflow: hidden; /* Prevent scroll bars */
}

header {
    position: absolute;
    top: 20px;
    right: 20px; /* Change to left: 20px; if you want it on the left */
    width: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #c7c7c7;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer; 
    color: #c7c7c7;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

